**DATA FRAME**

In [32]:
import pandas as pd

In [33]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns = ["A","B","C"], index = ["X","Y","Z"])
df.head()

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [34]:
df.tail(2)

   A  B  C
Y  4  5  6
Z  7  8  9

In [35]:
df.index # tolist()

Index(['X', 'Y', 'Z'], dtype='object')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, X to Z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes