**DATA FRAME**

*Category: Overview / Title*

Brief: This notebook demonstrates pandas DataFrame creation, inspection, selection, I/O, and common indexing/selection patterns.

In [ ]:
# Category: Setup - import libraries
# Purpose: Import pandas for DataFrame creation and I/O; run once at start of session
import pandas as pd

*Category: DataFrame creation / examples*

Brief: small examples to show DataFrame API (columns, index, head/tail).

In [ ]:
# Category: DataFrame creation
# Purpose: create a small example DataFrame to demonstrate basic API (columns, index, head())
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=["A","B","C"], index=["X","Y","Z"])
df.head()

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

*Category: DataFrame inspection*

Brief: methods to inspect structure and contents (tail, columns, index, info, nunique, unique).

In [ ]:
# Category: DataFrame inspection - tail
# Purpose: show last rows of df to inspect content and verify creation
df.tail(2)

   A  B  C
Y  4  5  6
Z  7  8  9

In [ ]:
# Category: DataFrame inspection - columns
# Purpose: list column names for schema inspection
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [ ]:
# Category: DataFrame inspection - index list
# Purpose: get index labels as a Python list
df.index.tolist()

['X', 'Y', 'Z']

In [ ]:
# Category: DataFrame inspection - info
# Purpose: show dtypes, non-null counts, and memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, X to Z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [ ]:
# Category: DataFrame inspection - nunique
# Purpose: count distinct values per column (useful for categorical checks)
df.nunique()

A    3
B    3
C    3
dtype: int64

In [ ]:
# Category: DataFrame inspection - unique values in column 'A'
# Purpose: show unique values for a single Series/column
df['A'].unique()

array([1, 4, 7])

*Category: Shape and size*

Brief: methods to get overall dimensions and total element counts.

In [ ]:
# Category: Shape - rows x columns
# Purpose: returns a tuple (n_rows, n_columns)
df.shape

(3, 3)

In [ ]:
# Category: Size - number of elements
# Purpose: total number of cells (rows * columns)
df.size

9

*Category: Input / Output - reading files*

Brief: examples showing reading CSV, parquet and Excel files kept relative to the notebook folder.

In [157]:
# Category: I/O - read coffee CSV into a DataFrame
# Purpose: demonstrate read_csv; keep the file name relative to the notebook folder
coffee = pd.read_csv("coffee.csv")
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [ ]:
# Category: I/O - read parquet results
# Purpose: demonstrate reading parquet files into a DataFrame
results = pd.read_parquet('results.parquet')
results.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None

In [ ]:
# Category: I/O - read bios CSV
# Purpose: load small CSVs for inspection; adjust encoding/dtype if needed
bios = pd.read_csv('bios.csv')
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [ ]:
# Category: I/O - read Excel sheet
# Purpose: demonstrate read_excel with sheet_name argument
olympics_data = pd.read_excel('olympics-data.xlsx', sheet_name="results")
olympics_data.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,32.0,True,NaN
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,NaN
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,NaN

*Category: Safety check - ensure DataFrame loaded*

Brief: guard to avoid re-reading large files during iterative notebook runs.

In [ ]:
# Category: Safety - ensure 'coffee' exists to avoid re-loading in interactive sessions
# Purpose: load coffee only if not present in globals()
if 'coffee' not in globals():
    coffee = pd.read_csv("coffee.csv")
coffee.head()  # DataFrame

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

*Category: Displaying DataFrames*

Brief: difference between print() (text) and display() (rich HTML in notebooks).

In [ ]:
# Category: Display - print vs display in notebooks
# Purpose: use print() for console-style output (less pretty in Jupyter)
print(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [ ]:
# Category: Display - use display() for rich HTML formatting in notebooks
# Purpose: display() shows nice formatted table in Jupyter/VS Code notebooks
display(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

*Category: Selection examples (loc/iloc)*

Brief: show label-based (.loc) and integer position-based (.iloc) selection examples.

In [ ]:
# Category: Selection - .loc with single label returns a Series (row)
# Purpose: access a single row by label (if index numeric labels exist this returns that label)
coffee.loc[0]  # Row only

Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object

In [ ]:
# Category: Selection - .loc with list of row labels
# Purpose: select multiple rows by label (preserves row order in list)
coffee.loc[[0,1,5]]  # Rows only

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
5  Wednesday       Latte          25

In [ ]:
# Category: Selection - slice rows and pick specific columns
# Purpose: .loc can slice by labels and select columns simultaneously
coffee.loc[5:9, ["Day", "Units Sold"]]

         Day  Units Sold
5  Wednesday          25
6   Thursday          40
7   Thursday          30
8     Friday          45
9     Friday          35

In [ ]:
# Category: Selection - iloc uses integer positional indexing
# Purpose: use integer positions to select columns/rows; returns same type as selection
coffee.iloc[:, [0,2]]

          Day  Units Sold
0      Monday          25
1      Monday          15
2     Tuesday          30
3     Tuesday          20
4   Wednesday          35
5   Wednesday          25
6    Thursday          40
7    Thursday          30
8      Friday          45
9      Friday          35
10   Saturday          45
11   Saturday          35
12     Sunday          45
13     Sunday          35

*Category: Indexing - set index correctly*

Brief: prefer set_index() to avoid duplicating columns or accidental misalignment.

In [ ]:
# Category: Indexing - corrected set index
# Purpose: set the 'Day' column as the DataFrame index in a safe, explicit way
# Note: using .set_index returns a new DataFrame (assign back) and avoids duplicating the column.
coffee = coffee.set_index('Day')
coffee.head()

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35

In [ ]:
# Category: Label slice selection on index (when index contains day names)
# Purpose: demonstrate selecting a range of index labels (inclusive for strings)
coffee.loc["Monday":"Wednesday"]

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35
Wednesday  Wednesday       Latte          25

In [ ]:
# Category: Re-load example (explicit read)
# Purpose: show how to re-read CSV if you need fresh copy (useful after inplace edits)
coffee = pd.read_csv('coffee.csv')

In [ ]:
# Category: Assignment using label slicing
# Purpose: assign a scalar to a slice of rows in a column; demonstrates guaranteed alignment by labels
coffee.loc[1:3, "Units Sold"] = 10
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          10
2    Tuesday    Espresso          10
3    Tuesday       Latte          10
4  Wednesday    Espresso          35

In [ ]:
# Category: Scalar access - .at
# Purpose: fast label-based scalar accessor for single value retrieval
coffee.at[0, "Units Sold"]  # label–based scalar accessor

np.int64(25)

In [ ]:
# Category: Scalar access - .iat
# Purpose: fast integer position–based scalar accessor for single value retrieval
coffee.iat[3, 1]  # integer position–based scalar accessor

'Latte'

**COLUMN**

Brief: accessing columns as attributes vs bracket syntax; bracket is safer when names have spaces or conflict with attributes.

In [ ]:
# Category: Column access - attribute style
# Purpose: quick access when column name is a valid Python identifier
coffee.Day

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

In [ ]:
# Category: Column access - bracket style
# Purpose: preferred production-safe access; required when column names contain spaces or clash with DataFrame attributes
coffee["Day"]  # Safer and preferred in production code.

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

In [ ]:
# Category: Sorting - single key
# Purpose: sort DataFrame by 'Units Sold' descending to find top-selling rows
coffee.sort_values(["Units Sold"], ascending=False)  # pandas DataFrame method

          Day Coffee Type  Units Sold
10   Saturday    Espresso          45
8      Friday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
11   Saturday       Latte          35
13     Sunday       Latte          35
9      Friday       Latte          35
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
2     Tuesday    Espresso          10
1      Monday       Latte          10
3     Tuesday       Latte          10

In [ ]:
# Category: Sorting - multiple keys
# Purpose: show different sort orders per column using a list of booleans
# ascending=[False, True] => first column descending, second ascending
coffee.sort_values(["Units Sold", "Coffee Type"], ascending=[False, True])

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
2     Tuesday    Espresso          10
1      Monday       Latte          10
3     Tuesday       Latte          10